@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth@0,75..100;1,75..100&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  font-weight: normal;
  /* font: normal 25px 'Roboto', sans-serif; */
  background-color: #f1f1f1;
  color: #0f141e;
}

.container {
  max-width: 750px;
  margin: auto;
  padding-top: 30px;
}

.avatar {
  width: 200px;
  border-radius: 28px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}
.info {
  margin-bottom: 10px;
}

.info-text p {
  font-style: italic;
  font-weight: bold;
  color: #86898f;
  margin: 0;
}

.info-text h4 {
  margin: bottom 10px; ;
}

.card {
  border-radius: 20px;
  padding: 15px 20px;
  margin-bottom: 10px;
}

.card h2  {
  margin-bottom: 10px;
}

.bg-yellow {
  background-color: #fff9dc;
}

.bg-red {
  background-color: #ffe5e5;
}

.bg-green {
  background-color: #e5ffe7;
}
